<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">

	<listeners>
		<listener class-name="ananthuProject.TestComponents.Listeners"></listener>
	</listeners>

	<test thread-count="5" name="E2E">
		<classes>
			<class name="ananthuProject.Test.StandAloneTest" />
		</classes>
	</test>
	
	<test thread-count="5" name="Unit">
		<classes>
			<class name="ananthuProject.Test.LoginCheckTest" />
		</classes>
	</test>

	<test thread-count="5" name="E2E-main">
		<classes>
			<class name="ananthuProject.Test.PIMpageTest" />
		</classes>
	</test>
	
	<test thread-count="5" name="Unit2">
		<classes>
			<class name="ananthuProject.Test.CheckVisibilityTest" />
		</classes>
	</test>
	<test thread-count="5" name="Unit2">
		<classes>
			<class name="ananthuProject.Test.APITest" />
		</classes>
	</test>


</suite> 
